[submodule "submitted/luotian"]
	path = submitted/luotian
	url = https://github.com/Loutine/Loutine_homework.git
[submodule "submitted/caoyihan"]
	path = submitted/caoyihan
	url = https://github.com/YihanCao123/Python-homework
[submodule "submitted/zhaokaili"]
	path = submitted/zhaokaili
	url = https://github.com/zhaokaili1/zkl-python-homework
[submodule "submitted/zhangyuanbo"]
	path = submitted/zhangyuanbo
	url = https://github.com/zhangyuanbo715/zyb-python-homework
[submodule "submitted/songxiaoman"]
	path = submitted/songxiaoman
	url = https://github.com/Songxiaoman28/SXM-python-homework
[submodule "submitted/mengyuan0526"]
	path = submitted/mengyuan0526
	url = https://github.com/mengyuan0526/wmy-python-homework
